# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
env/
.venv/

# Data and outputs
data/
output/
models/

# Notebook checkpoints
.ipynb_checkpoints/

# PyTorch
*.pt
*.pth

# dotenv
.env

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
